*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow:hidden;

    font-family:Poppins,sans-serif;

    background:linear-gradient(135deg,#ff758c,#ff7eb3);

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

/* Floating Hearts */

body::before{

    content:"❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";

    position:absolute;

    width:100%;

    text-align:center;

    top:100%;

    font-size:30px;

    opacity:.2;

    animation:floatHearts 18s linear infinite;

}

@keyframes floatHearts{

    from{

        transform:translateY(0);

    }

    to{

        transform:translateY(-130vh);

    }

}

/* Letter */

.letter{

    width:80%;

    /* max-width:750px;

    
    padding:50px; */
    background:#fffdf8;

    border-radius:15px;

    box-shadow:0 20px 50px rgba(0,0,0,.3);

    transform:translateY(120px);

    opacity:0;

    animation:slideUp 1.2s forwards;

}

.book{

    width:900px;
    height:600px;

    display:flex;

    background:#c8a97e;

    border-radius:10px;

    box-shadow:
    0 25px 60px rgba(0,0,0,.45);

    overflow:hidden;

    animation:zoomBook 1.5s ease;

}

.page{

    width:50%;

    background:#fff9e8;

    padding:45px;

    position:relative;

}

.leftPage{

    border-right:2px solid rgba(0,0,0,.15);

}

.rightPage{

    overflow-y:auto;

}


@keyframes zoomBook{

    from{

        transform:scale(.6);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}

@keyframes slideUp{

    to{

        transform:translateY(0);

        opacity:1;

    }

}

h1{

    font-family:'Dancing Script',cursive;

    color:#ff4081;

    text-align:center;

    font-size:55px;

    margin-bottom:35px;

}

#letterText{

    color:#444;

    line-height:2;

    font-size:20px;

    white-space:pre-wrap;

}

.cursor{

    border-right:3px solid hotpink;

    animation:blink .7s infinite;

}

@keyframes blink{

    50%{

        border-color:transparent;

    }

}

.leftContent{

    height:100%;

    display:flex;

    flex-direction:column;

    align-items:center;

}

.leftPage h2{

    margin-top:20px;

    color:#d6336c;

    font-family:'Dancing Script',cursive;

    font-size:40px;

}

/* Photo */

.photoFrame{

    margin-top:45px;

    width:220px;

    padding:12px;

    background:white;

    border-radius:4px;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    transform:rotate(-8deg);

    transition:.4s;

}

.photoFrame:hover{

    transform:rotate(-4deg) scale(1.05);

}

.photoFrame img{

    width:100%;

    display:block;

    border-radius:3px;

}

/* Heart */

.heart{

    font-size:40px;

}

/* Rose */

.rose{

    margin-top:auto;

    font-size:45px;

}